a {
    color: black;
    text-decoration: none;
}

.container {
    position: relative;
    max-width: 1300px;
    margin: auto;
    height: 55px;
}

.container__content {
    position: absolute;
    padding-left: 5px;
    padding-right: 20px;
    height: 65px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.container__logo {
    transform: scale(0.6);
    display: inline-block;
    height: 65px;

    img {
        height: 65px;
        width: 65px;
    }
}

.container__nav {
    position: absolute;
    display: inline-block;
    top: 40%;

    ul {
        padding: 0;
        margin-left: 10px;
        text-align: center;
    }

    li {
        list-style: none;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        cursor: pointer;
    }

    a:hover {
        color: rgb(46, 131, 131);
    }
}

.container__nav__icons {
    position: absolute;
    top: 35%;
    right: 0;

    ul {
        height: 24px;
    }

    li {
        list-style: none;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        height: 24px;
        width: 24px;
        cursor: pointer;
    }

    li:hover {
        color: rgb(46, 131, 131);
    }
}

.mat-badge-count {
    display: inline-block;
}

:host ::ng-deep .mat-badge-content {
    top: -8px !important;
    right: -11px !important;
}

.navigation-menu__icon {
    display: none !important;
}

button[mat-menu-item] {
    text-align: center;
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
    min-height: 0 !important;
}

::ng-deep .cart-menu {
    cursor: default;

    .cart-no-items {
        margin: 20px 35px 20px 35px;
        text-align: center;
        font-size: 25px;
    }

    .button-make-order {
        cursor: pointer;
        width: 100%;
        margin-bottom: -8px;
        margin-top: 9px;
        border-radius: 0 0 4px 4px;
    }

    .button-make-order:disabled {
        cursor: default;
    }
}

.cart-item__container {
    .cart-item {
        width: 450px;
        position: relative;
        margin-top: 9px;
        background-color: white;

        img {
            margin-left: 5px;
            width: 90px;
            height: 70px;
            border-radius: 3px;
        }

        .delete-button {
            position: absolute;
            top: -10px;
            right: 0;
        }
        
        .delete-icon {
            color: red;
        }

        .item-name {
            font-weight: 500;
            margin-left: 5px;
            top: 32px;
            position: absolute;
            display: inline-block;
        }

        .item-info {
            color: grey;
            margin-left: 5px;
            position: absolute;
            top: 52px;
            display: inline-block;
        }

        .item-price {
            width: 90px;
            text-align: center;
            margin: 5px 0 5px 5px;
            font-weight: 500;
        }
    }
}

.order-info {
    margin-top: 10px;
    margin-bottom: 4px;

    .items-count, .items-price {
        font-size: 18px;
        font-weight: 500;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 15px;

        span {
            float: right;
        }
    }
}

@media screen and (max-width: 700px) {
    .container__nav {
        ul {
            margin-left: 20px;
        }
    
        li {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .container__nav__icons {
        padding-right: 10px;

        li {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

@media screen and (max-width: 495px) {
    .container__nav {
        display: none;
    }

    .navigation-menu__icon {
        display: inline-block !important;
    }

    ::ng-deep .mat-menu-panel {
        width: 100vh !important;
        margin: 14px 10px 0 10px !important;
        border-radius: 0 0 4px 4px !important; 
    }

    .cart-item__container {
        .cart-item {
            width: 100% !important;
        }
    }
}

@media screen and (min-width: 495px) {
    ::ng-deep .navigation-menu {
        display: none;
    }
}