<nav>
  <div class="container">
    <div class="container__content">

      <div class="container__logo">
        <a routerLink="/">
          <img src="../../../../assets/icons/icon-foodkit.png" alt="FoodKit icon">
        </a>
      </div>

      <div class="container__nav">
        <ul *ngIf="(accountService.currentUser$ | async)?.roles.includes('User') 
          || (accountService.currentUser$ | async) === null">
          <li><a routerLink="/menu">Menu</a></li>
        </ul>
        <ul *ngIf="(accountService.currentUser$ | async)?.roles.includes('Admin')">
          <li><a routerLink="/ingredients">Ingredients</a></li>
          <li><a routerLink="/dishes">Dishes</a></li>
          <li><a routerLink="/chat">Chats</a></li>
        </ul>
        <ul *ngIf="(accountService.currentUser$ | async)?.roles.includes('Courier')">
          <li><a>Orders</a></li>
          <li><a>Chats</a></li>
        </ul>
      </div>

      <div class="container__nav__icons">
        <ul>
          <li class="navigation-menu__icon">
            <mat-icon mat-button [matMenuTriggerFor]="navigationMenu">view_headline</mat-icon>
            <mat-menu class="navigation-menu" #navigationMenu="matMenu" xPosition="before">

              <ng-container *ngIf="(accountService.currentUser$ | async)?.roles.includes('User') 
                || (accountService.currentUser$ | async) === null">
                <button mat-menu-item><a routerLink="/menu">Menu</a></button>
              </ng-container>

              <ng-container *ngIf="(accountService.currentUser$ | async)?.roles.includes('Admin')">
                <button mat-menu-item><a routerLink="/ingredients">Ingredients</a></button>
                <button mat-menu-item><a routerLink="/dishes">Dishes</a></button>
                <button mat-menu-item><a routerLink="/chat">Chats</a></button>
              </ng-container>

              <ng-container *ngIf="(accountService.currentUser$ | async)?.roles.includes('Courier')">
                <button mat-menu-item><a>Orders</a></button>
                <button mat-menu-item><a>Chats</a></button>
              </ng-container>

            </mat-menu>
          </li>

          <li>
            <mat-icon mat-button [matMenuTriggerFor]="accountMenu">person</mat-icon>
            <mat-menu #accountMenu="matMenu" xPosition="before">
              <ng-container *ngIf="(accountService.currentUser$ | async) === null">
                <button mat-menu-item (click)="openSignInDialog()">Login</button>
                <button mat-menu-item (click)="openRegistrationDialog()">Register</button>
              </ng-container>
              <ng-container *ngIf="(accountService.currentUser$ | async)">
                <button mat-menu-item routerLink="/profile" *ngIf="(accountService.currentUser$ | async)?.roles.includes('User')">
                  Account
                </button>
                <button mat-menu-item (click)="signOut()">Logout</button>
              </ng-container>
            </mat-menu>
          </li>

          <li *ngIf="(accountService.currentUser$ | async) === null 
            || (accountService.currentUser$ | async)?.roles.includes('User')">
            <p class="mat-badge-count" [matBadge]="getItemsCount()">
              <mat-icon mat-button [matMenuTriggerFor]="shoppingCartMenu">shopping_cart</mat-icon>
            </p>
            <mat-menu class="cart-menu" #shoppingCartMenu="matMenu" xPosition="before">

              <div class="cart-no-items" *ngIf="dishCartService.dishCartItems.length === 0">
                <p>Oops, it's empty!</p>
              </div>

              <div class="cart-item__container" *ngIf="dishCartService.dishCartItems.length !== 0">
                <div class="cart-item" *ngFor="let item of dishCartService.dishCartItems">

                  <img [src]="item.dishImageUrl" [alt]="item.dishName">

                  <button class="delete-button" mat-icon-button
                    (click)="$event.stopPropagation(); deleteCartItem(item)">
                    <mat-icon class="delete-icon">close</mat-icon>
                  </button>

                  <p class="item-name">{{item.dishName}}</p>

                  <p class="item-info" *ngIf="item.numberOfPersons === 1; else itemInfo">{{item.numberOfPersons}}
                    portion &bull; count: {{item.count}}</p>
                  <ng-template #itemInfo>
                    <p class="item-info">
                      {{item.numberOfPersons}} portions &bull; count: {{item.count}}
                    </p>
                  </ng-template>

                  <div class="item-price">
                    <p>{{item.dishPrice * item.numberOfPersons * item.count | number : '1.1-1'}} BYN</p>
                  </div>
                  <mat-divider></mat-divider>
                </div>
              </div>

              <div class="order-info" *ngIf="dishCartService.dishCartItems.length !== 0">
                <p class="items-count">Total count: <span>{{getItemsCount()}}</span></p>
                <p class="items-price">Total price: <span>{{getOrderSummary() | number : '1.1-1'}} BYN</span></p>
              </div>

              <button class="button-make-order" mat-raised-button color="primary" routerLink="/order"
                [disabled]="dishCartService.dishCartItems.length === 0 || (accountService.currentUser$ | async) === null">
                Make order</button>

            </mat-menu>
          </li>

        </ul>
      </div>

    </div>
  </div>
</nav>