::ng-deep .mat-horizontal-content-container,
::ng-deep .mat-vertical-content {
    padding: 0 !important;
}

.general-info__container {
    width: 50%;
    padding: 20px 0 30px 0;
    margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form {
    .form-field { 
        margin-bottom: 12px;
        width: 100%;

        textarea {
            resize: none;
        }
    }
}

.image__container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;

    button {
        margin-left: 24px;
    }
}

.file-input {
    visibility: hidden;
    position: absolute;
    overflow: hidden; 
    width: 0px; 
    height:0px;
    border:none;
    margin:0;
    padding:0
}

.files__table {
    padding-top: 20px;
    margin: 0 auto;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

    th, td {
        text-align: center;
        font-size: 14px;
        height: 50px;
        border: 1px solid #CCC;
        font-weight: 400;
    }

    td {
        border-top: none;
    }

    th:first-child, td:first-child {
        width: 70%;
        border-right: none;
        text-align: left;
        padding-left: 10px;
    }

    th:last-child, td:last-child {
        border-left: none;
        border-right: 1px solid #CCC;
    }
}

.delete-button {
    margin: 0 !important;

    .delete-icon {
        margin-top: -2px;
        color: red;
    }
}

.single-order {
    margin-bottom: 21.5px !important;
}

@media screen and (max-width: 1000px) { 
    .general-info__container { 
        width: 70%;
    }
}

@media screen and (max-width: 651px) {  
    .general-info__container { 
        width: 100%;
        padding: 20px 15px 0 5px;
    }

    .image__container { 
        button {
            margin-left: 5px;
        }
    }

    .files__table { 
        padding-left: 5px;

        th, td { 
            font-size: 12px;
        }
    }
}


//
.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }