<div class="container">
    <div class="add-user-dish__container">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Добавить продукт</mat-panel-title>
            </mat-expansion-panel-header>

            <form #editForm="ngForm" class="form" autocomplete="off" [formGroup]="userDishForm"
                (ngSubmit)="userDishForm.valid && addUserDish(editForm)">

                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Название</mat-label>
                    <input type="text" [autofocus]="false" matInput placeholder="Гречка" formControlName="name">
                    <mat-error *ngIf="userDishForm.controls['name'].invalid">Длина должна быть от 1 до 30</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Дата употребления</mat-label>
                    <input [autofocus]="false"
                        matInput
                        [matDatepicker]="DPdishDate"
                        [min]="minDishDate"
                        [max]="maxDishDate"
                        formControlName="dishDate"
                        autocomplete="off"
                        readonly>
                    <mat-datepicker-toggle matSuffix [for]="DPdishDate"></mat-datepicker-toggle>
                    <mat-datepicker #DPdishDate disabled="false"></mat-datepicker>
                    <mat-error *ngIf="userDishForm.controls['dishDate'].invalid">Обязательное поле</mat-error>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Масса продукта &#40;г/мл&#41;</mat-label>
                    <input type="number" [autofocus]="false" matInput placeholder="XXX" formControlName="dishWeight">
                    <mat-error *ngIf="userDishForm.controls['dishWeight'].invalid">Неверный формат</mat-error>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Белки <strong>&#40;на 100 г/мл&#41;</strong></mat-label>
                    <input type="number" [autofocus]="false" matInput placeholder="XX.X" formControlName="proteins">
                    <mat-error *ngIf="userDishForm.controls['proteins'].invalid">Неверный формат</mat-error>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Жиры <strong>&#40;на 100 г/мл&#41;</strong></mat-label>
                    <input type="number" [autofocus]="false" matInput placeholder="XX.X" formControlName="fats">
                    <mat-error *ngIf="userDishForm.controls['fats'].invalid">Неверный формат</mat-error>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Углеводы <strong>&#40;на 100 г/мл&#41;</strong></mat-label>
                    <input type="number" [autofocus]="false" matInput placeholder="XX.X" formControlName="carbohydrates">
                    <mat-error *ngIf="userDishForm.controls['carbohydrates'].invalid">Неверный формат</mat-error>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Калорийность <strong>&#40;на 100 г/мл&#41;</strong></mat-label>
                    <input type="number" [autofocus]="false" matInput placeholder="XX" formControlName="calories">
                    <mat-error *ngIf="userDishForm.controls['calories'].invalid">Неверный формат</mat-error>
                </mat-form-field>

                <button class="submit-btn" color="primary" [disabled]="!userDishForm.valid" mat-raised-button
                    type="submit">Добавить продукт</button>

            </form>
        </mat-expansion-panel>

        <div class="user-dish-table__container">
            
        </div>
    </div>
</div>