table {
    border-collapse: collapse !important;
    width: 100%;
}

td, th {
    padding: 0 !important;
    text-align: center !important;
    vertical-align: middle !important;
}

.mat-sort-header-container {
    justify-content: center !important;
}

th.mat-header-cell {
    font-size: 15px;
    text-align: center;
    border: 1px solid #CCC;
    padding: 0 !important;
}

th.mat-header-cell:nth-child(1) {
    border-left: none;
}

th.mat-header-cell:nth-last-child(1) {
    border-right: none;
}

.container {
    margin-top: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}