<div class="container">

	<span class="error" *ngFor="let error of errors">
		{{error}}
	</span>

	<div class="close-btn" (click)="closeDialog()">
		<mat-icon>close</mat-icon>
	</div>

	<form [formGroup]="registrationForm" autocomplete="off" (ngSubmit)="registrationForm.valid && register()">

		<mat-form-field class="form-field" appearance="fill">
			<mat-label>Enter name</mat-label>
			<input [autofocus]="false" matInput placeholder="Artem" formControlName="name">
			<mat-error *ngIf="registrationForm.controls['name'].invalid">Name cannot be empty</mat-error>
		</mat-form-field>

		<mat-form-field class="form-field" appearance="fill">
			<mat-label>Enter phone number</mat-label>
			<input matInput placeholder="+375XXXXXXXXX" formControlName="phoneNumber">
			<mat-error *ngIf="registrationForm.controls['phoneNumber'].invalid">Invalid phone number fomar</mat-error>
		</mat-form-field>

		<mat-form-field class="form-field" appearance="fill">
			<mat-label>Enter email</mat-label>
			<input matInput placeholder="xxx@gmail.com" [formControl]="registrationForm.controls['email']">
			<mat-error *ngIf="registrationForm.controls['email'].invalid">Invalid email format</mat-error>
		</mat-form-field>

		<mat-form-field class="form-field" appearance="fill">
			<mat-label>Enter password</mat-label>
			<input 
				matInput
				[type]="hidePassword ? 'password' : 'text'"
				formControlName="password">
			<button
				type="button"
				mat-icon-button 
				matSuffix
				(click)="hidePassword = !hidePassword" 
				[attr.aria-label]="'Hide password'"
				[attr.aria-pressed]="hidePassword">
				<mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
			<mat-error *ngIf="registrationForm.controls['password'].invalid">Length should be from 6 to 32</mat-error>
		</mat-form-field>

		<mat-form-field class="form-field" appearance="fill">
			<mat-label>Confirm password</mat-label>
			<input
				matInput
				[type]="hideConfirmPassword ? 'password' : 'text'"
				formControlName="confirmPassword">
			<button
				type="button"
				mat-icon-button
				matSuffix
				(click)="hideConfirmPassword = !hideConfirmPassword" 
				[attr.aria-label]="'Hide password'"
				[attr.aria-pressed]="hideConfirmPassword">
				<mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
			<mat-error *ngIf="registrationForm.controls['confirmPassword'].invalid">Passwords must match</mat-error>
		</mat-form-field>

		<button
			class="submit-btn"
			color="primary"
			[disabled]="!registrationForm.valid || errors"
			mat-raised-button
			type="submit">REGISTER</button>
			
	</form>

</div>