<div class="container">

	<span class="error" *ngFor="let error of errors">
		{{error}}
	</span>

	<div class="close-btn" (click)="closeDialog()">
		<mat-icon>close</mat-icon>
	</div>

	<form [formGroup]="registrationForm" autocomplete="off" (ngSubmit)="registrationForm.valid && register()">

		<mat-form-field class="form-field" appearance="fill">
			<mat-label>Введите имя</mat-label>
			<input [autofocus]="false" matInput placeholder="Артём" formControlName="name">
			<mat-error *ngIf="registrationForm.controls['name'].invalid">Имя не может быть пустым</mat-error>
		</mat-form-field>

		<mat-form-field class="form-field" appearance="fill">
			<mat-label>Введите телефон</mat-label>
			<input matInput placeholder="+375XXXXXXXXX" formControlName="phoneNumber">
			<mat-error *ngIf="registrationForm.controls['phoneNumber'].invalid">Неверный формат телефона</mat-error>
		</mat-form-field>

		<mat-form-field class="form-field" appearance="fill">
			<mat-label>Введите email</mat-label>
			<input matInput placeholder="xxx@gmail.com" [formControl]="registrationForm.controls['email']">
			<mat-error *ngIf="registrationForm.controls['email'].invalid">Неверный формат email</mat-error>
		</mat-form-field>

		<mat-form-field class="form-field" appearance="fill">
			<mat-label>Введите пароль</mat-label>
			<input 
				matInput
				[type]="hidePassword ? 'password' : 'text'"
				formControlName="password">
			<button
				type="button"
				mat-icon-button 
				matSuffix
				(click)="hidePassword = !hidePassword" 
				[attr.aria-label]="'Hide password'"
				[attr.aria-pressed]="hidePassword">
				<mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
			<mat-error *ngIf="registrationForm.controls['password'].invalid">Длина должна быть от 6 до 32 символов</mat-error>
		</mat-form-field>

		<mat-form-field class="form-field" appearance="fill">
			<mat-label>Повторите пароль</mat-label>
			<input
				matInput
				[type]="hideConfirmPassword ? 'password' : 'text'"
				formControlName="confirmPassword">
			<button
				type="button"
				mat-icon-button
				matSuffix
				(click)="hideConfirmPassword = !hideConfirmPassword" 
				[attr.aria-label]="'Hide password'"
				[attr.aria-pressed]="hideConfirmPassword">
				<mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
			<mat-error *ngIf="registrationForm.controls['confirmPassword'].invalid">Пароли должны совпадать</mat-error>
		</mat-form-field>

		<button
			class="submit-btn"
			color="primary"
			[disabled]="!registrationForm.valid || errors"
			mat-raised-button
			type="submit">ЗАРЕГИСТРИРОВАТЬСЯ</button>
			
	</form>

</div>